:root {
  --dark: #292C35;
  --label: #111;
  --light: #F1F1F1;
}

* {
  box-sizing: border-box;
  overflow: hidden;

.toggle-container {
  display: flex;
  position: relative;
}


.dark-mode{
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-color: var(--dark);
}
.light-mode {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  background-color: var(--light);
}

.dark-mode .circle,
.light-mode .circle {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
}

.dark-mode .circle {
  right: 41%;
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}

.light-mode .circle,
.light-mode .circle {
  left: 11%;
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}


#mode-toggle {
  align-items: center;
  background-color: var(--label);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  height: 50px;
  position: relative;
  transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  width: 100px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
}

.toggle-icon {
  display: flex;
  height: 30px;
  margin: 0 auto;
  width: 30px;
}
